*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
}

p.card-text.awards {
  background-color: #666;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #ccc;
  text-shadow: -0.5px -0.5px 1px #000;
}

.single-card-img {
  max-width: 200px;
}